.pcs-plant-care-app {
  min-height: 100vh;

  background-image: url('/src/assets/wallpaper1.jpg');
  padding: 40px 15px;
}

/* Center Main Card */
.pcs-main-content {
  max-width: 900px;
  width: 100%;
  background: #00000074;
  border-radius: 16px;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.pcs-main-content::before {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgba(76, 175, 80, 0.1);
  border-radius: 50%;
}

.pcs-support-header {
  text-align: center;
  margin-bottom: 40px;
}

.pcs-support-header h2 {
  color: #2e7d32;
  font-weight: 700;
}

.pcs-support-header p {
  color: #ffffff;
  font-size: 1.1rem;
}

/* Support Cards */
.pcs-support-card {
  text-align: center;
  padding: 25px 20px;
  background: #f1f8f6;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}




.pcs-support-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.pcs-support-icon i {
  font-size: 2rem;
  color: #2e7d32;
  margin-bottom: 15px;
}

.pcs-btn-support {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 500;
}

.pcs-btn-support:hover {
  background-color: #388e3c;
}

/* Form Styling */
.pcs-support-form {
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 40px;
  border-left: 5px solid #036814;
}

.label {
  color: white;
}

.pcs-support-form h4 {
  color: #ffffff;
  margin-bottom: 25px;
}

.pcs-btn-submit {
  background-color: #065509;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 12px 30px;
  font-weight: 500;
}

.pcs-btn-submit:hover {
  background-color: #ffffff;
  color: #065509;
}

/* FAQ */
.pcs-faq-section {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  border-left: 5px solid #aed581;
}

.pcs-faq-section h4 {
  color: #287609;
  margin-bottom: 25px;
}

.pcs-faq-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #c5e1a5;
}

.pcs-faq-item:last-child {
  border-bottom: none;
}

.pcs-faq-item h6 {
  font-weight: 600;
  color: #2e7d32;
}